.alert {
  background-color: $theme-ligth-gray;
  margin-top: 75px;
  padding: 22px;
  display: flex;
  &__leftDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 7px;
    flex: none;
  }
  &__rigthDiv {
    font-size: 15px;
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
  &__speakDiv {
    font-size: 20px;
    font-weight: 200;
  }

  &__beCountedDiv {
    font-size: 37px;
    font-weight: bolder;
  }
  &__close-button {
    background-color: transparent;
    border: none;
    margin-left: 15px;
    font-size: 25px;
  }
}
