.alert {
  background-color: rgb(236, 231, 231);
  margin-top: 75px;
  margin-left: 130px;
  margin-right: 130px;
  height: 80px;
  padding: 22px;
  display: flex;
  &__leftDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 7px;
  }
  &__rigthDiv {
    color: dimgray;
    font-size: 17px;
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
  &__speakDiv {
    color: dimgray;
    font-size: 22px;
  }

  &__beCountedDiv {
    color: black;
    font-size: 40px;
    font-weight: bolder;
  }
  &__close-button {
    background-color: transparent;
    border: none;
    margin-left: 15px;
    color: dimgray;
    font-size: 25px;
    font-weight: 100;
  }
  //   i {
  //     color: dimgray !important;
  //   }
  // }

  // #times {
  //   color: dimgray !important;
  // }
}
