.alert {
  background-color: $theme-ligth-gray;
  margin-top: 100px;
  padding: 22px;
  display: flex;
  &__leftDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 7px;
    flex: none;
  }
  &__rigthDiv {
    font-size: 15px;
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
  &__speakDiv {
    font-size: 20px;
    font-weight: 200;
  }

  &__beCountedDiv {
    font-size: 37px;
    font-weight: bolder;
  }
  &__close-button {
    background-color: transparent;
    border: none;
    margin-left: 15px;
    font-size: 25px;
  }
}

@media only screen and (max-width: 400px) {
  .alert {
    flex-direction: column;
    &__leftDiv {
      flex-direction: column;
      margin-bottom: 10px;
      text-align: justify;
    }
    &__rigthDiv {
      text-align: center;
      margin: 0;
    }

    &__beCountedDiv {
      font-size: 35px;
    }
    &__close-button {
      background-color: transparent;
      border: none;
      margin-top: 15px;
      font-size: 25px;
    }
  }
}
