.candidates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__title {
    color: $theme-dark-gray;
    width: 100%;
  }
  &__card {
    padding-top: 320px;
    width: 47%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 30px 0px;
    &__title {
      color: $theme-white;
    }

    &__description {
      font-size: 15px;
      font-weight: 400;
      margin-left: 40px;
      margin-right: 90px;
      color: $theme-white;
    }

    &__viewReport {
      background-color: transparent;
      border: 1px solid white;
      cursor: pointer;
      color: white;
      font-size: 13px;
      text-decoration: none;
      margin-left: 40px;
      height: 40px;
      width: 155px;
      color: $theme-white;
    }

    &__divisor {
      display: flex;
      margin-bottom: 40px;
      justify-content: space-between;
    }

    &__date {
      text-align: right;
      margin: 0;
      margin-right: 20px;
      color: $theme-white;
    }
  }
  &__thumbsIndicator {
    background-color: $theme-orange;
  }

  &__graphic-report {
    display: flex;
    height: 50px;
    color: $theme-white;

    &__thumbs-up {
      display: flex;
      align-items: center;
      background-color: $theme-green;
      height: 50px;
      width: 64%;
      padding-left: 20px;
    }
    &__thumbs-down {
      display: flex;
      align-items: center;
      background-color: $theme-orange;
      height: 50px;
      width: 36%;
      padding-left: 20px;
    }
  }
}

#kanye {
  background-image: url(../images/kanye_west.jpg);
}
#mark {
  background-image: url(../images/facebook.jpg);
}
#cristina {
  background-image: url(../images/cristina_fernández.jpg);
}
#malala {
  background-image: url(../images/malala_yousafzai.jpg);
}
