.closing-days {
  display: flex;
  &__left {
    background-color: grey;
    width: 30%;
    text-align: right;

    h3 {
      margin-right: 25px;
    }
  }
  &__rigth {
    background-color: whitesmoke;
    width: 70%;

    h3 {
      margin-left: 25px;
    }
    h3,
    b {
      color: dimgray;
    }
  }
}

@media only screen and (max-width: 400px) {
  .closing-days {
    align-items: center;
    font-size: 10px;
  }
}
