.closing-days {
  &__left {
    background-color: grey;
    float: left;
    width: 30%;
    text-align: right;

    h3 {
      margin-right: 25px;
    }
  }
  &__rigth {
    background-color: whitesmoke;
    float: right;
    width: 70%;

    h3 {
      margin-left: 25px;
    }
    h3,
    b {
      color: dimgray;
    }
  }
}
