body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $theme-dark-gray;
}
.container {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
* {
  box-sizing: border-box;
}
.hide {
  display: none;
}

// this is the original icon but rotated to match the given desing
.fa-thumbs-up.inverted {
  transform: rotate(180deg);
}
