///////////////////////* Hero */
.hero {
  background-image: url("../images/pope_francis.jpg");
  height: 800px;
  padding-top: 50px;
}
.header {
  justify-content: space-between;
  display: flex;
}

.nav-item {
  padding: 15px;
}
.hero-title {
  margin-left: 130px;
}
.hero-nav {
  padding-right: 130px;
}
