.header {
  justify-content: space-between;
  display: flex;
  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    &__list {
      list-style: none;
      display: flex;
      flex-direction: row;
      &-item {
        margin-left: 20px;
        a {
          text-decoration: none;

          color: $theme-white;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &__title {
    color: $theme-white;
  }
  &__button-search {
    color: $theme-white;
    font-size: 20px;
    margin-left: 20px;
  }
}

.menu-button {
  display: none;
  &__icon {
    display: none;
  }
}

@media only screen and (max-width: $breakpoint-mobile) {
  .header {
    justify-content: space-between;
    display: flex;
    &__nav {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-right: 20px;

      &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-left: 0;
        &-item {
          padding: 10px;
        }
      }
      &__wrapper {
        padding-top: 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
    &__title {
      font-size: 20px;
      flex: none;
      margin-left: 30px;
      margin-top: 30px;
    }
  }
  .header__nav {
    display: none;
  }
  .menu-button__icon {
    display: flex;
    align-items: center;
    padding: 15px;
    color: $theme-white;
    font-size: 20px;
  }
  .menu-button:checked ~ .header__nav {
    display: flex;
    flex-direction: column;
  }
}
