.header {
  justify-content: space-between;
  display: flex;
  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    &__list {
      list-style: none;
      display: flex;
      flex-direction: row;
      &-item {
        margin-left: 20px;
        a {
          text-decoration: none;

          color: $theme-white;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &__title {
    color: $theme-white;
  }
  &__button-search {
    color: $theme-white;
    font-size: 20px;
    margin-left: 20px;
  }
}
