.hero {
  background-image: url("../images/pope_francis.jpg");
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    background: linear-gradient(180deg, #00000073, transparent);
    position: absolute;
    width: 100%;
    height: 150px;
    left: 0;
    top: 0;
  }
}
