.hero-card {
  margin-top: 80px;
  width: 50%;
  text-align: left;
  color: $theme-white;
  &__last-text {
    margin: 0;
  }
  &__title {
    font-size: 60px;
    margin: 20px 0;
  }
  &__more-info {
    line-height: 4;
    color: $theme-white;
  }
  &__pre-title {
    margin-top: 20px;
    font-size: 16px;
  }
  &__paragraph {
    font-size: 21px;
  }
  &__container {
    padding-top: 26px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 40px;
    background-color: $theme-black-translucent;
    backdrop-filter: blur(10px);
  }
  &__button {
    width: 50%;
    color: $theme-white;
    border: none;
    padding: 25px;

    &--like {
      background-color: rgba($theme-green, 0.8);
      &:hover {
        background-color: $theme-green;
      }
    }
    &--dislike {
      background-color: rgba($theme-orange, 0.8);
      &:hover {
        background-color: $theme-orange;
      }
    }
    &-container {
      display: flex;
      justify-content: space-between;
      border: none;
      padding-bottom: 100px;
      .fa-thumbs- {
        &down {
          font-size: 2rem;
        }
        &up {
          font-size: 2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-mobile) {
  .hero-card {
    width: 100%;
  }
}
