/* Hero Card */
.hero-card {
  margin-top: 80px;
  margin-left: 130px;
  height: 420px;
  width: 500px;
  background-color: rgba(59, 59, 59, 0.3);
  text-align: left;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.hero-card-container {
  padding-top: 26px;
  padding-left: 26px;
  padding-right: 26px;
}
.hero-card-p {
  font-size: 13pt;
}
.hero-card-title {
  font-size: 45pt;
}
.hero-card-moreInfo {
  line-height: 4;
}

.hero-card-like-button {
  background-color: rgb(113, 179, 209);
  width: 50%;
  height: 80px;
  border: none;
  margin-top: 5px;
  float: left;
}
.hero-card-unlike-button {
  background-color: goldenrod;
  width: 50%;
  height: 80px;
  border: none;
  margin-top: 5px;
}

.fa-thumbs- {
  &down {
    font-size: 2rem;
  }
  &up {
    font-size: 2rem;
  }
}
.closing-days {
  margin-top: 170px;
  &__left {
    background-color: grey;
    float: left;
    width: 30%;
    text-align: right;
    h3 {
      margin-right: 25px;
    }
  }
  &__rigth {
    background-color: whitesmoke;
    float: right;
    width: 70%;
    h3 {
      margin-left: 25px;
    }
    h3,
    b {
      color: dimgray;
    }
  }
}
