@import-normalize; /* bring in normalize.css styles */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap");
@import "../src/styles/alert";
@import "../src/styles/header";
@import "../src/styles/heroCard";
@import "../src/styles/mainStage";
@import "../src/styles/submitName";

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
